<h1 class="my-3">Вход на сайт</h1>
<div class="col-sm-6 mx-auto">
    <form action="/login" method="post">
        <div class="mb-3">
            <input type="email" name="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="mb-3">
            <input type="password" name="pass" class="form-control" placeholder="Пароль">
        </div>
        <div class="mb-3">
            <input type="submit" class="form-control btn btn-primary" value="Войти">
        </div>
    </form>
</div>