<div class="row">
    <div class="col-sm-4">
        <img id="userAvatar" src="" alt="" width="80%">
        <form action="/uploadAvatar" method="post" enctype="multipart/form-data">
            <div>
                <input name="userAvatar" type="file" class="form-control">
            </div>
            <div>
                <input type="submit" value="Загрузить аватар" class="form-control btn btn-secondary">
            </div>
        </form>
    </div>
    <div class="col-sm-8">
        <p><strong>Имя: </strong><span id="name"></span></p>
        <p><strong>Фамилия: </strong><span id="lastname"></span></p>
        <p><strong>Email: </strong><span id="email"></span></p>
        <p><strong>Id: </strong><span id="userId"></span></p>
    </div>
</div>
<script>
    let name = document.getElementById('name');
    let lastname = document.getElementById('lastname');
    let email = document.getElementById('email');
    let userId = document.getElementById('userId');
    let userAvatar = document.getElementById('userAvatar');
    fetch('/getUser')
        .then(function (response){return response.json()})
        .then(function (result){
            console.log(result);
            name.innerText = result.name;
            lastname.innerText = result.lastname;
            email.innerText = result.email;
            userId.innerText = result.id;
            userAvatar.src = result.avatar;
        })
</script>