<h1 class="text-center my-3">Регистрация на сайте</h1>
<div class="col-sm-6 mx-auto">
    <form action="/reg" method="post">
        <div class="mb-3">
            <input type="text" name="name" class="form-control" placeholder="Имя">
        </div>
        <div class="mb-3">
            <input type="text" name="lastname" class="form-control" placeholder="Фамилия">
        </div>
        <div class="mb-3">
            <input type="email" name="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="mb-3">
            <input type="password" name="pass" class="form-control" placeholder="Пароль">
        </div>
        <div class="mb-3">
            <input type="submit" class="form-control btn btn-primary" value="Зарегистрироваться">
        </div>
    </form>
</div>